@import '~@papillonbits/css/build/primer/support/mixins/layout.scss';
@import '../../../index.scss';

.container {
  @include container;
}

.alert {
  margin-bottom: -20px;
}

.content {
  &Display {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &Grid {
      &ListGnomes {
        margin: 20px 0;
        min-width: 1280px;
      }
    }

    &Search {
      display: flex;
      flex-direction: column;

      @include breakpoint(md) {
        flex-direction: row;
      }

      &Part {
        width: 100%;

        &Field {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 15px;
          margin-bottom: 15px;

          @include breakpoint(md) {
            margin-top: 15px;
            margin-bottom: 15px;
          }

          &Dropdown {
            details {
              width: 100%;
            }

            summary {
              width: 100%;
            }
          }

          &Input {
            width: 100%;
          }
        }
      }
    }

    &Pagination {
      display: flex;
      justify-content: flex-start;
      margin: 0;

      @include breakpoint(md) {
        justify-content: flex-end;
      }
    }
  }
}
